<h2>Homework 5 - Calc</h2>
<br>
<br>


<div class="container">
  <input type="text" name="Result" value={{text}} id="" readonly>
 <div class="buttons">
   <table>
     <tr>
       <td><button (click)="ClickBtn('7')">7</button></td>
       <td><button (click)="ClickBtn('8')">8</button></td>
       <td><button (click)="ClickBtn('9')">9</button></td>
       <td></td>
       <td><button (click)=Divide()>/</button></td>
       <td><button (click)=Multiply()>*</button></td>
     </tr>
     <tr>
      <td><button (click)="ClickBtn('4')">4</button></td>
      <td><button (click)="ClickBtn('5')">5</button></td>
      <td><button (click)="ClickBtn('6')">6</button></td>
      <td></td>
       <td><button (click)=Summ()>+</button></td>
       <td><button (click)=Subtraction()>-</button></td>
    </tr>
    <tr>
      <td><button (click)="ClickBtn('1')">1</button></td>
      <td><button (click)="ClickBtn('2')">2</button></td>
      <td><button (click)="ClickBtn('3')">3</button></td>
      <td></td>
       <td><button (click)="ClickBtn('0')">0</button></td>
       <td><button (click)=Result()>=</button></td>
    </tr>
   </table>
 </div>
</div>




